@media (max-width: 1330px) {
    .home .container{
        margin-left: 0;
    }
}

@media (max-width: 1104px) {
    .column-left img{
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 991px) {
    .container {
        padding: 0 50px;
    }
}

@media (max-width: 947px){

    .menu-btn{
        display: block;
        z-index: 1000;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .menu-btn.active span {
        background: transparent;
    }

    .menu-btn.active span:before {
        transform: rotate(45deg);
        top: 0;
    }
    .menu-btn.active span:after {
        transform: rotate(-45deg);
        top: 0;
    }

    .navbar .menu.active{
    left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;

    }
    .home .home-content .text-3{
        font-size: 35px;
        margin: 5px 0;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .container{
        max-width: 930px;
    }
    .home .home-btn{
        font-size: 23px;
        padding: 10px 30px;
    }
.column{
    width: 1000%;
}
.column-left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}
.column-right{
    flex: 100%;
}
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 690px) {
    .container {
        padding: 0 23px;
    }
    section{
        padding: 50px 0;
    }
    .home .home-content .text-2 {
        font-size: 55px;
    }

    .home .home-content .text-3 {
        font-size: 30px;
    }
    .home .home-btn{
        font-size: 20px;
    }
    .about{
        padding: 2px 0;
    }
    .services .serv-content .card{
        width: 100%;
        margin-bottom: 20px;
    }
    .contact-img {
        right: 83px;
        z-index: -10;
        bottom: 0;
    }
    .contact-content .column .left{
    z-index: 30;
    }
}


@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 38px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
        width: 150px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    .skills-desc{
        font-size: 15px;
    }
    .title{
        font-size: 32px;
    }
}